# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\University\Advance Programming TA\AP_graphic#1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
